@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.calendar {
  height: 100vh;
  @include flex(column, flex-start, stretch);
  background-color: hsl(var(--background));
  position: relative;
}

.content {
  flex: 1;
  @include flex(row, flex-start, stretch);
  overflow: hidden;
}

.main {
  flex: 1;
  @include flex(column, flex-start, stretch);
  overflow: hidden;
}
