@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.container {
  flex: 1;
  @include flex(column, flex-start, stretch);
  background-color: hsl(var(--background));
  overflow: hidden;
}

.header {
  @include flex(row, flex-start, stretch);
  @include border(bottom, 1px, solid, hsl(var(--border)));
  position: sticky;
  top: 0;
  background-color: hsl(var(--background));
  z-index: 10;
}

.timeColumnHeader {
  width: 4rem;
  flex-shrink: 0;
  @include border(right, 1px, solid, hsl(var(--border)));
}

.dayHeader {
  flex: 1;
  padding: 0.5rem 0;
  text-align: center;
  @include border(right, 1px, solid, hsl(var(--border)));
  
  &:last-child {
    border-right: none;
  }
}

.weekDayLabel {
  font-size: 0.75rem;
  color: hsl(var(--muted-foreground));
  text-transform: uppercase;
}

.dayNumber {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.25rem auto 0;
  @include flex(row, center, center);
  font-size: 1.25rem;
  font-weight: 500;
  @include rounded(9999px);
  color: hsl(var(--foreground));
  
  &.currentDay {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
  }
}

.timeGrid {
  flex: 1;
  @include flex(row, flex-start, stretch);
  overflow: auto;
  @include scrollbar-thin;
}

.timeColumn {
  width: 4rem;
  flex-shrink: 0;
  @include border(right, 1px, solid, hsl(var(--border)));
}

.timeSlot {
  height: 3.5rem;
  @include border(bottom, 1px, solid, hsl(var(--border)));
  @include flex(row, flex-end, center);
  padding-right: 0.5rem;
}

.timeLabel {
  font-size: 0.75rem;
  color: hsl(var(--muted-foreground));
}

.daysContainer {
  flex: 1;
  @include flex(row, flex-start, stretch);
}

.dayColumn {
  flex: 1;
  position: relative;
  @include border(right, 1px, solid, hsl(var(--border)));
  
  &:last-child {
    border-right: none;
  }
}

.hourSlot {
  height: 3.5rem;
  @include border(bottom, 1px, solid, hsl(var(--border)));
  cursor: pointer;
  @include transition(background-color);
  
  &:hover {
    background-color: hsl(var(--accent) / 0.3);
  }
  
  &.dragOver {
    background-color: hsl(var(--primary) / 0.2);
  }
}

.eventsOverlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.event {
  position: absolute;
  left: 0.25rem;
  right: 0.25rem;
  @include rounded(0.375rem);
  padding: 0.25rem 0.5rem;
  cursor: grab;
  pointer-events: auto;
  overflow: hidden;
  @include transition(opacity);
  min-height: 1.75rem;
  
  &:active {
    cursor: grabbing;
  }
  
  &:hover {
    opacity: 0.9;
  }
  
  // Event colors
  &.tomato {
    background-color: hsl(var(--event-tomato));
    color: white;
    @include border(left, 4px, solid, hsl(4 90% 40%));
  }
  
  &.tangerine {
    background-color: hsl(var(--event-tangerine));
    color: white;
    @include border(left, 4px, solid, hsl(36 100% 40%));
  }
  
  &.banana {
    background-color: hsl(var(--event-banana));
    color: rgb(31, 41, 55);
    @include border(left, 4px, solid, hsl(48 100% 40%));
  }
  
  &.basil {
    background-color: hsl(var(--event-basil));
    color: white;
    @include border(left, 4px, solid, hsl(142 71% 35%));
  }
  
  &.sage {
    background-color: hsl(var(--event-sage));
    color: white;
    @include border(left, 4px, solid, hsl(150 30% 50%));
  }
  
  &.peacock {
    background-color: hsl(var(--event-peacock));
    color: white;
    @include border(left, 4px, solid, hsl(186 100% 32%));
  }
  
  &.blueberry {
    background-color: hsl(var(--event-blueberry));
    color: white;
    @include border(left, 4px, solid, hsl(214 100% 40%));
  }
  
  &.lavender {
    background-color: hsl(var(--event-lavender));
    color: white;
    @include border(left, 4px, solid, hsl(262 52% 37%));
  }
  
  &.grape {
    background-color: hsl(var(--event-grape));
    color: white;
    @include border(left, 4px, solid, hsl(280 68% 40%));
  }
  
  &.graphite {
    background-color: hsl(var(--event-graphite));
    color: white;
    @include border(left, 4px, solid, hsl(220 9% 36%));
  }
}

.eventTitle {
  font-size: 0.75rem;
  font-weight: 500;
  @include text-ellipsis(1);
}

.eventTime {
  font-size: 0.75rem;
  opacity: 0.9;
  @include text-ellipsis(1);
}
